<<<<<<< HEAD
.row {
  margin-left: 20px;
}

=======
>>>>>>> b7f152073c37705d2e0fd8c96c4e10e9e72b8ef5
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.poster_row {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}

.poster_row:hover {
  transform: scale(1.08);
<<<<<<< HEAD
}

.poster_row_large {
  max-height: 250px;
}

.poster_row_large:hover {
  transform: scale(1.09);
=======
>>>>>>> b7f152073c37705d2e0fd8c96c4e10e9e72b8ef5
}
